body {
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  /* border: 1px solid black; */
  width: 100vw;
  height: 100vh;
}

.control-container {
  position: absolute;
  bottom: 0;
  background-color: darkcyan;
  width: 100%;
  padding: 5px;
}